<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <queries>
        <package android:name="dev.local.showdownnative" />
        <package android:name="net.pokerogue.livewrapper" />
    </queries>
    <application android:label="宝可梦游戏馆" android:icon="@drawable/launcher_icon"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity android:name=".GameActivity" android:screenOrientation="landscape" android:exported="false" />
        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.modulefiles"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/module_file_paths" />
        </provider>
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
